$font-stack:    Helvetica, sans-serif;
$primary-color: aliceblue;

$table-border-color: #b8b8b8;
$table-border-width: .071428571em;
$table-border-style: solid;
$table-bordered-border: $table-border-width $table-border-style $table-border-color;
$table-bordered-border-radius: .470588235em;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}

header {
	display: -webkit-flex;
	display : flex;
    border: 1px solid black;
    height: 95px;   
    background-color: #000;

	img{
		width : 150px;
		height : 95px;
	}
	span {
		font-size : 25px;
		color : #fff;
		padding-left: 350px;
	}
}

/* Left nav style*/
nav {
	border: 1px solid black;
	width : 150px;
	height : 500px;
	>ul {
  		list-style: none;
  		padding: 0 10px;
  		>li {
  			>ul {
  				list-style: none;
  			}
		}
	}
}

footer {
	border: 1px solid black;
	max-width: 100%;
    margin: auto;
    height: 40px;
    background-color: #000;
}

/* Left nav main div style*/
.leftNav {
	display : inline-block;
}

/* Main content. */
.contentDiv {
	display : inline-block;
	max-width : 1000px;
}

/* Header span text. */
.subHeaderText {
	margin-top: 15px;
}

/* Button style. */
.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Adds borders and border-radius. */
.table-bordered {
    border: $table-bordered-border;
    *border-collapse: collapsed;
    border-radius: $table-bordered-border-radius;
}