$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}


header {
	img{
		width : 95px;
		height : 95px;
	}
	span {
		float : right;
	}
}
