<!-- content.html -->
<div class="container">
    <div class="alert alert-danger" ng-if="showEditError">You have entered incorrect password!</div>
    <div class="alert alert-warning" ng-if="showError">This is the default data!</div>
    <button class="addButton" ng-click="toggleModal()">Add</button>
    <!-- MODAL WINDOW STARTS -->
    <datamodal title="Add Secondary Key" visible="showModal">
        <form name="secondary.modalForm" ng-submit="addDataToSecondaryTable();" novalidate>
          <div class="form-group">
            <label for="descriptionSecondary">Description</label>
            <input type="text" class="form-control" name="descriptionSecondary" ng-model="secondary.descriptionSecondary" required/>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.descriptionSecondary.$invalid}" ng-if="secondary.modalForm.$submitted && secondary.modalForm.descriptionSecondary.$error.required">Description Required.</p>
          </div>
          <div class="form-group">
            <label for="primarykeyNew">Primary Key</label>            
            <div><input type="text" ng-model="secondary.primarykey" uib-typeahead="pkey as pkey.key for pkey in primaryKeyList | filter:{key:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" name="primarykeyNew" typeahead-on-select="onSelect($item, $model, $label, '','')" required>
            </div>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.primarykeyNew.$invalid}" ng-if="secondary.modalForm.$submitted && secondary.modalForm.primarykeyNew.$error.required">Primary Key Required.</p>
          </div>
          <div class="form-group">
            <label for="passwordSecondary">Password</label>
            <input type="password" class="form-control" name="passwordSecondary" id="passwordSecondary" ng-model="secondary.passwordSecondary" required/>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.passwordSecondary.$invalid}" ng-if="secondary.modalForm.$submitted
            && secondary.modalForm.passwordSecondary.$error.required">Password Required.</p>
          </div>
          <div class="form-group">
            <label for="confirmpasswordSecondary">Confirm Password</label>
            <input type="password" class="form-control" name="confirmpasswordSecondary" id="confirmpasswordSecondary" ng-model="secondary.confirmpasswordSecondary" pw-check="passwordSecondary" required/>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.passwordNew.$invalid}" ng-if="secondary.modalForm.$submitted && secondary.modalForm.passwordNew.$error.required">Confirm Password Required.</p>
            <span class="msg-error" ng-show="secondary.modalForm.$submitted &&secondary.modalForm.confirmpasswordSecondary.$error.pwmatch">
                Passwords don't match.
            </span>
          </div>
          <div class="form-group">
            <label for="activatesOnSecondary">Activates On</label>
            <datepicker date-format="EEE MMM d y" selector="form-control" date-disabled-dates="disableDates">
              <input ng-model="secondary.activatesOnSecondary" id="activatesOnSecondary" name="activatesOnSecondary" type="text" class="form-control edit-form-control" ng-readonly="true" required/>
            </datepicker>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.activatesOnSecondary.$invalid}" ng-if="secondary.modalForm.$submitted && secondary.modalForm.activatesOnSecondary.$error.required">Activates On Required.</p>
          </div>
          <div class="form-group">
            <label for="expiresOnSecondary">Expires On</label>
            <datepicker date-format="EEE MMM d y" datepicker-options="dateOptions" selector="form-control">
              <input ng-model="secondary.expiresOnSecondary" id="expiresOnSecondary" name="expiresOnSecondary" type="text" class="form-control edit-form-control" ng-readonly="true" required/>
            </datepicker>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.expiresOnSecondary.$invalid}" ng-if="secondary.modalForm.$submitted
             && secondary.modalForm.expiresOnSecondary.$error.required">Expires On Required.</p>
          </div>
          <button type="submit" class="btn btn-default">Add</button>
        </form>
    </datamodal>
    <!-- MODAL WINDOW ENDS -->
    <!-- ANGULAR DIRECTIVE TABLE -->
    <div class="tableWrapper">
        <table table-data="" ng-form="tableForm" class="table table-bordered" columnheader="Description,Primary Key,Activates On,Expires On,Key" columnfield="description,primarykey,activatesOn,expiresOn,key"
        components="dataSecondary">            
        </table>
    </div>
    <!-- ANGULAR DIRECTIVE TABLE -->
</div>