<!-- content.html -->
<div class="container">
    <div class="alert alert-danger" ng-if="showEditError">You have entered incorrect password!</div>
    <div class="alert alert-warning" ng-if="showError">This is the default data!</div>
    <button class="addButton" ng-click="toggleModal()">Add</button>
    <!-- MODAL WINDOW STARTS -->
    <datamodal title="Add Secondary Key" visible="showModal">
        <form name="secondary.modalForm" ng-submit="addDataToSecondaryTable();" novalidate>
          <div class="form-group">
            <label for="descriptionSecondary">Description</label>
            <input type="text" class="form-control" name="descriptionSecondary" ng-model="secondary.descriptionSecondary" required/>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.descriptionSecondary.$invalid}" ng-if="secondary.modalForm.$submitted && secondary.modalForm.descriptionSecondary.$error.required">Description Required.</p>
          </div>
          <div class="form-group">
            <label for="primarykeyNew">Primary Key</label>            
            <input type="text" ng-model="secondary.primarykey" uib-typeahead="country as country.key for country in primaryKey | filter:{key:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" name="primarykeyNew" typeahead-on-select="onSelect($item, $model, $label)" required>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.primarykeyNew.$invalid}" ng-if="secondary.modalForm.$submitted && secondary.modalForm.primarykeyNew.$error.required">Primary Key Required.</p>
          </div>
          <div class="form-group">
            <label for="passwordSecondary">Password</label>
            <input type="password" class="form-control" name="passwordSecondary" id="passwordSecondary" ng-model="secondary.passwordSecondary" required/>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.passwordSecondary.$invalid}" ng-if="secondary.modalForm.$submitted
            && secondary.modalForm.passwordSecondary.$error.required">Password Required.</p>
          </div>
          <div class="form-group">
            <label for="confirmpasswordSecondary">Confirm Password</label>
            <input type="password" class="form-control" name="confirmpasswordSecondary" id="confirmpasswordSecondary" ng-model="secondary.confirmpasswordSecondary" pw-check="passwordSecondary" required/>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.passwordNew.$invalid}" ng-if="secondary.modalForm.$submitted && secondary.modalForm.passwordNew.$error.required">Confirm Password Required.</p>
            <span class="msg-error" ng-show="secondary.modalForm.$submitted &&secondary.modalForm.confirmpasswordSecondary.$error.pwmatch">
                Passwords don't match.
            </span>
          </div>
          <div class="form-group">
            <label for="activatesOnSecondary">Activates On</label>
            <datepicker date-format="EEE MMM d y" selector="form-control" date-disabled-dates="disableDates">
              <input ng-model="secondary.activatesOnSecondary" id="activatesOnSecondary" name="activatesOnSecondary" type="text" class="form-control edit-form-control" ng-readonly="true" required/>
            </datepicker>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.activatesOnSecondary.$invalid}" ng-if="secondary.modalForm.$submitted && secondary.modalForm.activatesOnSecondary.$error.required">Activates On Required.</p>
          </div>
          <div class="form-group">
            <label for="expiresOnSecondary">Expires On</label>
            <datepicker date-format="EEE MMM d y" datepicker-options="dateOptions" selector="form-control">
              <input ng-model="secondary.expiresOnSecondary" id="expiresOnSecondary" name="expiresOnSecondary" type="text" class="form-control edit-form-control" ng-readonly="true" required/>
            </datepicker>
            <p ng-class="{'msg-error': secondary.modalForm.$submitted && secondary.modalForm.expiresOnSecondary.$invalid}" ng-if="secondary.modalForm.$submitted
             && secondary.modalForm.expiresOnSecondary.$error.required">Expires On Required.</p>
          </div>
          <button type="submit" class="btn btn-default">Add</button>
        </form>
    </datamodal>
    <!-- MODAL WINDOW ENDS -->
    <!-- ANGULAR TABLE -->
    <div class="tableWrapper">
        <table ng-table="tableParams" ng-form="tableForm" class="table table-bordered">
            <tr ng-repeat="row in dataSecondary track by $index" ng-form="rowForm">
                <td title="'Description'">
                    <span class="editable-text" ng-if="!row.isEditing">{{row.description}}</span>
                    <div class="controls" ng-if="row.isEditing">
                        <input type="text" name="description" ng-model="row.description" class="editable-input form-control input-sm edit-form-control" required />
                    </div>
                </td>
				<td title="'Primary Key'">
                    <span class="editable-text" ng-if="!row.isEditing">{{row.primarykey}}</span>
                    <div class="controls" ng-if="row.isEditing">
                        <select name="typeOfKey" ng-model="row.primarykey" class="form-control selectpicker edit-form-control" required>
                          
                        </select>
                    </div> 
                </td>
                <td title="'Activates On'">
                    <span  class="editable-text" ng-if="!row.isEditing">{{row.activatesOn}}</span>
                    <div class="controls" ng-if="row.isEditing">
                        <datepicker date-format="EEE MMM d y" selector="form-control">
                          <input ng-model="row.activatesOn" id="activatesOn" name="activatesOn" type="text" class="form-control edit-form-control" ng-readonly="true" required/>
                        </datepicker>
                    </div>
                </td>
                <td title="'Expires On'">
                    <span  class="editable-text" ng-if="!row.isEditing">{{row.expiresOn}}</span>
                    <div class="controls" ng-if="row.isEditing">
                        <datepicker date-format="EEE MMM d y" selector="form-control">
                          <input ng-model="row.expiresOn" id="expiresOn" name="expiresOn" type="text" class="form-control edit-form-control" ng-readonly="true" required/>
                        </datepicker>
                    </div>
                </td>
                <td title="'Key'" ng-class="{'greenHighlight': row.activatesOn > dateToday, 'yellowHighlight': row.activatesOn == dateToday , 'redHighlight' : (row.expiresOn < dateToday && row.activatesOn < dateToday)}">
                   <span class="editable-text" ng-if="!row.isEditing">{{row.key}}</span>
                    <div class="controls" ng-if="row.isEditing">
                        <input type="text" name="key" ng-model="row.key" class="editable-input form-control input-sm edit-form-control" ng-disabled="disabledKey" required />
                    </div>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" ng-click="save(row);" ng-if="row.isEditing" ng-disabled="rowForm.$pristine"><span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="cancel(row,rowForm);" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="edit($index,row);" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger btn-sm" ng-click="delete($index);" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <!-- ANGULAR TABLE -->
</div>