<!-- content.html -->
<div class="container">
    <div class="alert alert-danger" ng-if="showEditError">You have entered incorrect password!</div>
    <div class="alert alert-warning" ng-if="showError">This is the default data!</div>
    <button class="addButton" ng-click="toggleModal()">Add</button>
    <!-- MODAL WINDOW STARTS -->
    <datamodal title="Add New" visible="showModal">
        <form name="modalForm" ng-submit="addDataToTable(newdata,modalForm);" novalidate>
          <div class="form-group">
            <label for="descriptionNew">Description</label>
            <input type="text" class="form-control" name="descriptionNew" ng-model="newdata.description" required/>
            <p ng-class="{'msg-error': modalForm.$submitted && modalForm.descriptionNew.$invalid}" ng-if="modalForm.$submitted && modalForm.descriptionNew.$error.required">Description Required.</p>
          </div>
          <div class="form-group">
            <label for="descriptionNew">Primary Key</label>
            <input type="text" class="form-control" name="primarykeyNew" ng-model="newdata.primarykey" auto-complete ui-items="primarykey" required/>
            <p ng-class="{'msg-error': modalForm.$submitted && modalForm.primarykeyNew.$invalid}" ng-if="modalForm.$submitted && modalForm.primarykeyNew.$error.required">Primary Key Required.</p>
          </div>
          <div class="form-group">
            <label for="passwordNew">Password</label>
            <input type="password" class="form-control" name="passwordNew" id="passwordNew" ng-model="newdata.password" required/>
            <p ng-class="{'msg-error': modalForm.$submitted && modalForm.passwordNew.$invalid}" ng-if="modalForm.$submitted && modalForm.passwordNew.$error.required">Password Required.</p>
          </div>
          <div class="form-group">
            <label for="confirmpasswordNew">Confirm Password</label>
            <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" ng-model="newdata.confirmpassword" pw-check="passwordNew" required/>
            <p ng-class="{'msg-error': modalForm.$submitted && modalForm.passwordNew.$invalid}" ng-if="modalForm.$submitted && modalForm.passwordNew.$error.required">Confirm Password Required.</p>
            <span class="msg-error" ng-show="modalForm.$submitted &&modalForm.confirmpassword.$error.pwmatch">
                Passwords don't match.
            </span>
          </div>
          <div class="form-group">
            <label for="activatesOnNew">Activates On</label>
            <datepicker date-format="EEE MMM d y" selector="form-control" date-disabled-dates="disableDates">
              <input ng-model="newdata.activatesOn" id="activatesOn" name="activatesOn" type="text" class="form-control edit-form-control" ng-readonly="true" required/>
            </datepicker>
            <p ng-class="{'msg-error': modalForm.$submitted && modalForm.activatesOn.$invalid}" ng-if="modalForm.$submitted && modalForm.activatesOn.$error.required">Activates On Required.</p>
          </div>
          <div class="form-group">
            <label for="expiresOnNew">Expires On</label>
            <datepicker date-format="EEE MMM d y" datepicker-options="dateOptions" selector="form-control">
              <input ng-model="newdata.expiresOn" id="expiresOn" name="expiresOn" type="text" class="form-control edit-form-control" ng-readonly="true" required/>
            </datepicker>
            <p ng-class="{'msg-error': modalForm.$submitted && modalForm.expiresOn.$invalid}" ng-if="modalForm.$submitted && modalForm.expiresOn.$error.required">Expires On Required.</p>
          </div>
          <button type="submit" class="btn btn-default">Add</button>
        </form>
    </datamodal>
    <!-- MODAL WINDOW ENDS -->
    <!-- ANGULAR TABLE -->
    <div class="tableWrapper">
        <table ng-table="tableParams" ng-form="tableForm" class="table table-bordered">
            <tr ng-repeat="row in data track by $index" ng-form="rowForm">
                <td title="'Description'">
                    <span class="editable-text" ng-if="!row.isEditing">{{row.description}}</span>
                    <div class="controls" ng-if="row.isEditing">
                        <input type="text" name="description" ng-model="row.description" class="editable-input form-control input-sm edit-form-control" required />
                    </div>
                </td>
				<td title="'Primary Key'">
                    <span class="editable-text" ng-if="!row.isEditing">{{row.primarykey}}</span>
                    <div class="controls" ng-if="row.isEditing">
                        <select name="typeOfKey" ng-model="row.primarykey" class="form-control selectpicker edit-form-control" required>
                          
                        </select>
                    </div> 
                </td>
                <td title="'Activates On'">
                    <span  class="editable-text" ng-if="!row.isEditing">{{row.activatesOn}}</span>
                    <div class="controls" ng-if="row.isEditing">
                        <datepicker date-format="EEE MMM d y" selector="form-control">
                          <input ng-model="row.activatesOn" id="activatesOn" name="activatesOn" type="text" class="form-control edit-form-control" ng-readonly="true" required/>
                        </datepicker>
                    </div>
                </td>
                <td title="'Expires On'">
                    <span  class="editable-text" ng-if="!row.isEditing">{{row.expiresOn}}</span>
                    <div class="controls" ng-if="row.isEditing">
                        <datepicker date-format="EEE MMM d y" selector="form-control">
                          <input ng-model="row.expiresOn" id="expiresOn" name="expiresOn" type="text" class="form-control edit-form-control" ng-readonly="true" required/>
                        </datepicker>
                    </div>
                </td>
                <td title="'Key'" ng-class="{'greenHighlight': row.activatesOn > dateToday, 'yellowHighlight': row.activatesOn == dateToday , 'redHighlight' : (row.expiresOn < dateToday && row.activatesOn < dateToday)}">
                   <span class="editable-text" ng-if="!row.isEditing">{{row.key}}</span>
                    <div class="controls" ng-if="row.isEditing">
                        <input type="text" name="key" ng-model="row.key" class="editable-input form-control input-sm edit-form-control" ng-disabled="disabledKey" required />
                    </div>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" ng-click="save(row);" ng-if="row.isEditing" ng-disabled="rowForm.$pristine"><span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="cancel(row,rowForm);" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="edit($index,row);" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger btn-sm" ng-click="delete($index);" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <!-- ANGULAR TABLE -->
</div>